<footer class="footer width-full border-top border-black pt-1">
  <div class="d-flex flex-lg-row justify-content-between flex-column">
    <div class="center text-center">
      <p>
        <%= image_tag 'LSA_Technology_logo.svg', alt: 'LSA Technology Logo', class: "img-fluid" %>
      </p><!-- Left column content -->
    </div>
    <div>
      <p class="text-center mb-0 small" style="font-family: Montserrat; font-weight: 400;">
        <a href="https://umich.edu/about/privacy/" class="um-blue text-um-blue" style="text-decoration: none;">Privacy Notice</a> |
        <a href="https://umich.edu/about/privacy/" class="um-blue text-um-blue" style="text-decoration: none;">Report an Issue</a> |
        <span class="um-blue">734.615.0100</span>
      </p>
    </div>
    <div>
      <p class="text-center mb-0 um-blue small" style="font-family: Montserrat; font-weight: 400;">
        ©<%= Time.now.year %>
        <a href="https://regents.umich.edu/" class="um-blue text-um-blue" style="text-decoration: none;">|The Regents of the University of Michigan</a>
      </p><!-- Right column content -->
    </div>
  </div>
</footer>